.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #fff;
  border-color: #de3500;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: 3s yinYang linear infinite;
}
.loader:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: #fff;
  border: 18px solid #de3500;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
.loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #de3500;
  border: 18px solid #fff;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
@keyframes yinYang {
  100% {
    transform: rotate(360deg);
  }
}

.cat-info {
  display: flex;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
}

.ss-main {
  width: 20%;
  max-width: 230px;
  min-width: 150px;
}

.cat-info-container {
  max-width: 1000px;
}

.cat-info-thumb {
  height: 400px;
  max-width: 400px;
}

.cat-info-img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.cat-info-temp-span {
  font-weight: 600;
}
